.banner__imagen{
    background: url("../../img/banner.jpg") no-repeat center / cover ;
    height: calc(100vh - 72px); /*atencion con calc, hay que separa por un espacio los operando*/
    width: 100%;
}