.banner__imagen{
    background: url("../../img/banner.jpg") no-repeat center / cover ;
    
    width: 100%;
}
@media screen and (min-width: 0) {
    .banner__imagen {
        height: calc(100vh - 51px); /*atencion con calc, hay que separa por un espacio los operando*/
    }
    
}

@media screen and (min-width: 768px) {
    .banner__imagen {
        height: calc(100vh - 72px); /*atencion con calc, hay que separa por un espacio los operando*/
    }
    
}